/*
=============== 
Global
===============
*/

@font-face {
  font-family: Avenir;
  src: url(/Font/AvenirLTStd-Medium.otf);
}

*{
  font-family: Avenir;
}

a {
  color: inherit;
  text-decoration: navajowhite;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.active{
  color: #F8981C;
}

#logo{
  width: 350px;
  margin-left: 1.5rem;
}

/*
=============== 
Nav
===============
*/

nav{
  height: 100vh;
  position: sticky;
  position: -webkit-sticky;
  top: 1rem;
}

ul{
    list-style: none;
    font-size: 1.5rem;
    z-index: 7;
}

li{
  padding: 4px;
}

.portfolio{
  display: none;
}

#navLinks{
  margin-top: 5rem;
  margin-left: 2rem;
}

.title{
  font-size: 1.5rem;
  color: #F8981C;
}

#menuIcon{
  display: none;
}

/*
=============== 
Slider
===============
*/

.slider-container {
  width: 80vw;
  margin: 0 auto;
  height: 40vh;
  max-width: 80rem;
  position: relative;
  overflow: hidden;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider-container-bis{
  height: 100vh;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: #E1E5E6; */
  display: grid;
  place-items: center;
  transition: all 0.25s ease-in-out;
}
.slide-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.sliderButtons{
  width: 25px;
  height: 25px;
  margin: 5px;
  background-color: #F8981C;
  z-index: 7;
  cursor: pointer;
}

#prev{
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 47% 73%, 0% 50%, 45% 28%);
}

#next{
  clip-path: polygon(45% 23%, 100% 50%, 48% 78%, 0% 100%, 25% 50%, 0% 0%);
}

/* 
==============
Portfolio
==============
 */

 .grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.grid-container img{
  width: 600px;
  height: auto;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-item img{
  object-fit: scale-down;
}

.index-grid-container{
  display: grid;
  grid-template-columns: auto auto;
}

/* 
===========
Contact
===========
 */

.formContainer{
  margin-top: 6rem;
  margin-left: 8rem;
  margin-right:6rem;
  font-size: 1.3rem;
  width: 50vw;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

input, textarea {
  border: 1px black solid;
  font-size: 1.3rem;
}

textarea{
  height: auto;
}

.formElement{
  display: flex;
  flex-flow: column;
  margin-bottom: 1rem;
}

.submit{
  background-color: #F8981C;
  font-size: 1.3rem;
  color: white;
  border: 1px solid #FCD9AB;
}

/* 
==========
ABOUT
=========
 */

 .photographer{
   float: right;
   height: 30vh;
   width: auto;
   margin-left: 1rem;
   margin-bottom: 1rem;
 }

 .aboutText{
   text-align: justify;
 }

/* 
==========
Responsive
==========
*/
@media screen and (min-width: 576px) {
  .slider-container {
    height: 45vh;
  }
}
@media screen and (min-width: 768px) {
  .slider-container {
    height: 55vh;
  }
}
@media screen and (min-width: 992px) {
  .slider-container {
    height: 65vh;
  }
}

@media screen and (max-width: 1270px) {

  .index-grid-container{
    display: block;
  }

  nav{
    display: flex;
    height: 10vh;
    position: inherit;
    justify-content: space-around;
  }

  #navLinks{
    margin-top: 0rem;
    margin-left: 0rem;
    padding-top: 1.2rem;
    display: flex;
    flex-direction: row;
  }

  .portfolio{
    z-index: 7;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    margin-top: 2rem;
    transform: translateX(-10rem);
    text-align: center;
  }

  .portfolio li{
    background-color: #FAB863;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .portfolio li:first-child {
    padding-top: 0.5rem;
    border-top: 2px solid #F9B358;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .portfolio li:last-child {
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #F9B358;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .formContainer{
    width: 70vw;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 10px;
    padding-right: 100px;
    padding-left: 100px;
  }
  
}

@media screen and (max-width: 1384px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
  }

  .grid-container img{
    width: 500px;
    height: auto;
  }
  
}

@media screen and (max-width: 1093px) {

  .grid-container img{
    width: 400px;
    height: auto;
  }
  
}

@media screen and (max-width: 991px) {
  #logo{
    width: 100px;
    margin-left: 1.5rem;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
  }

  .grid-container img{
    width: 550px;
    height: auto;
  }
}

@media screen and (max-width: 733px) {

  nav{
    justify-content: space-between;
  }

  .grid-container img{
    width: 400px;
    height: auto;
  }

  #navLinks{
    display: none;
  }

  #menuIcon{
    display: inline-block;
    cursor: pointer;
    padding-top: 0.8rem;
    margin-right: 1.5rem;
  }

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #F8981C;
    margin: 8px 0;
    transition: 0.4s;
  }
  
  .responsive{
    background-color: white;
    height: 100%;
  }

  @media screen and (max-width: 450px) {
    #logo{
      width: 70px;
      margin-left: 0.5rem;
    }

    #menuIcon{
      display: inline-block;
      cursor: pointer;
      padding-top: 0.1rem;
      margin-right: 0.5rem;
    }

    .grid-container img{
      width: 300px;
      height: auto;
    }

    .formContainer{
      margin-top: 1rem;
      margin-left: 1rem;
      margin-right:1rem;
      font-size: 1.3rem;
      width: 80vw;
    }

    .photographer{
      float: none;
      display: block;
      height: auto;
      width: 80vw;
      margin-left: 0rem;
      margin-bottom: 0rem;
    }
  }
}